PROMETHEUS_IMAGE=prom/prometheus:latest
GRAFANA_IMAGE=grafana/grafana:latest
NODE_EXPORTER_IMAGE=quay.io/prometheus/node-exporter:latest
MYSQLD_EXPORTER_IMAGE=prom/mysqld-exporter:latest

PROMETHEUS_PORT=9090
GRAFANA_PORT=3100

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-this-password

MYSQLD_EXPORTER_USER=prometheus_exporter
MYSQLD_EXPORTER_PASSWORD=change-this-password
